/*============================================
  CLASSIC LAYOUT
  - Traditional 3-column layout with navbar, sidebar(s), and main content
  - Follows the Laws of Sparse
  ============================================*/

/*============================================
  UTILS: Utility classes for common styles
  - Use for spacing, typography, colors, etc.
  ============================================*/
.title {
  font-weight: var(--weight-bold);
  margin-bottom: var(--small);
}
.meta {
  color: var(--color-gray);
  font-size: var(--medium);
}

/*============================================
  NAVBAR: A component that always spans the top of the page
  - Use for website title, nav links, searchbar, notifications, etc.
  ============================================*/
.navbar {
  padding: var(--small) var(--large);
  display: flex;
  justify-content: space-between;
}
.navbar-title {
  font-weight: var(--weight-bold);
  font-size: var(--xlarge);
  color: var(--color-accent);
  /* cursor: pointer; */
}

/*============================================
  SIDEBAR: A component that spans the side of the page
  - Use for navigation links, user profile, filters, etc.
  ============================================*/
.sidebar {
  padding-bottom: var(--large);
}

/*============================================
  PAGE: A component that represents the main content area
  - Articles, main writing area, feed, pictures, etc.
  ============================================*/
.page {
  flex: 1;
  padding: var(--large);
}
.page-text p {
  margin-bottom: var(--medium);
  line-height: var(--line-height-loose);
}

/*============================================
  MARKDOWN EDITOR STYLES
  - TipTap/ProseMirror-specific styling
  ============================================*/
.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--color-placeholder);
  pointer-events: none;
  content: attr(data-placeholder);
}

/*============================================
  FOOTER: A component that spans the bottom of the page
  - Use for copyright, links, etc.
  ============================================*/
.footer {
  padding: var(--large);
  text-align: center;
}
